In [1]:
%run -i "utils.py"

DIR_INPUT='../data/processed/simulated-data-transformed/'

TRAIN_BEGIN_DATE = "2023-01-01"
TRAIN_END_DATE = "2023-10-31"

TEST_BEGIN_DATE = "2023-11-01"
TEST_END_DATE = "2023-12-31"

SAMPLE_BEGIN_DATE = '2023-12-01'
SAMPLE_END_DATE = '2023-12-31'

print("Loading files")
# %time train_df = read_from_files(DIR_INPUT, TRAIN_BEGIN_DATE, TRAIN_END_DATE)
# %time test_df = read_from_files(DIR_INPUT, TEST_BEGIN_DATE, TEST_END_DATE)
%time sample_df = read_from_files(DIR_INPUT, SAMPLE_BEGIN_DATE, SAMPLE_END_DATE)

# print("{0} transactions loaded as training data, containing {1} fraudulent transactions".format(len(train_df),train_df.TX_FRAUD.sum()))
# print("{0} transactions loaded as testing data, containing {1} fraudulent transactions".format(len(test_df),test_df.TX_FRAUD.sum()))

Loading files
CPU times: total: 1.73 s
Wall time: 2.04 s

In [2]:
start_day = 9
end_day = 10

sample_df = sample_df[(sample_df['TX_DATETIME'].dt.day >= start_day) &
                      (sample_df['TX_DATETIME'].dt.day <= end_day)
                      ]

In [3]:
sample_df.head()

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO,TX_DURING_WEEKEND,...,CUSTOMER_ID_NB_TX_7DAY_WINDOW,CUSTOMER_ID_AVG_AMOUNT_7DAY_WINDOW,CUSTOMER_ID_NB_TX_30DAY_WINDOW,CUSTOMER_ID_AVG_AMOUNT_30DAY_WINDOW,TERMINAL_ID_NB_TX_1DAY_WINDOW,TERMINAL_ID_RISK_1DAY_WINDOW,TERMINAL_ID_NB_TX_7DAY_WINDOW,TERMINAL_ID_RISK_7DAY_WINDOW,TERMINAL_ID_NB_TX_30DAY_WINDOW,TERMINAL_ID_RISK_30DAY_WINDOW
774739,33143334,2023-12-09 00:00:02,29393,12376,11.14,29548802,342,0,0,1,...,1.0,11.140000,5.0,19.074000,1.0,0.0,6.0,0.0,25.0,0.0
774740,33143335,2023-12-09 00:00:14,35086,26615,5.21,29548814,342,0,0,1,...,18.0,12.423889,75.0,13.800667,2.0,0.0,10.0,0.0,28.0,0.0
774741,33143336,2023-12-09 00:00:16,23550,80333,167.00,29548816,342,0,0,1,...,17.0,72.608824,104.0,85.418942,1.0,0.0,4.0,0.0,24.0,0.0
774742,33143337,2023-12-09 00:00:20,31394,29491,46.65,29548820,342,0,0,1,...,24.0,49.480417,112.0,43.786429,2.0,0.0,7.0,0.0,29.0,0.0
774743,33143338,2023-12-09 00:00:22,18809,26248,31.45,29548822,342,0,0,1,...,20.0,42.553000,77.0,52.575065,4.0,0.0,12.0,0.0,34.0,0.0

In [4]:
sample_df.tail()

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO,TX_DURING_WEEKEND,...,CUSTOMER_ID_NB_TX_7DAY_WINDOW,CUSTOMER_ID_AVG_AMOUNT_7DAY_WINDOW,CUSTOMER_ID_NB_TX_30DAY_WINDOW,CUSTOMER_ID_AVG_AMOUNT_30DAY_WINDOW,TERMINAL_ID_NB_TX_1DAY_WINDOW,TERMINAL_ID_RISK_1DAY_WINDOW,TERMINAL_ID_NB_TX_7DAY_WINDOW,TERMINAL_ID_RISK_7DAY_WINDOW,TERMINAL_ID_NB_TX_30DAY_WINDOW,TERMINAL_ID_RISK_30DAY_WINDOW
968741,33337336,2023-12-10 23:59:10,6788,81972,56.51,29721550,343,0,0,1,...,15.0,74.447333,53.0,73.285849,2.0,0.0,6.0,0.0,27.0,0.0
968742,33337337,2023-12-10 23:59:12,45428,85832,51.61,29721552,343,0,0,1,...,23.0,60.350000,93.0,67.141183,0.0,0.0,9.0,0.0,27.0,0.0
968743,33337338,2023-12-10 23:59:22,31481,26069,73.47,29721562,343,0,0,1,...,15.0,50.825333,75.0,46.373200,0.0,0.0,6.0,0.0,22.0,0.0
968744,33337339,2023-12-10 23:59:45,45,45061,84.17,29721585,343,0,0,1,...,6.0,64.245000,24.0,61.047917,1.0,0.0,7.0,0.0,21.0,0.0
968745,33337340,2023-12-10 23:59:54,23458,15234,35.07,29721594,343,0,0,1,...,5.0,20.914000,23.0,23.849130,1.0,0.0,8.0,0.0,36.0,0.0

In [5]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 194007 entries, 774739 to 968745
Data columns (total 23 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   TRANSACTION_ID                       194007 non-null  int64
 1   TX_DATETIME                          194007 non-null  datetime64[ns]
 2   CUSTOMER_ID                          194007 non-null  int64
 3   TERMINAL_ID                          194007 non-null  int64
 4   TX_AMOUNT                            194007 non-null  float64
 5   TX_TIME_SECONDS                      194007 non-null  int64
 6   TX_TIME_DAYS                         194007 non-null  int64
 7   TX_FRAUD                             194007 non-null  int64
 8   TX_FRAUD_SCENARIO                    194007 non-null  int64
 9   TX_DURING_WEEKEND                    194007 non-null  int64
 10  TX_DURING_NIGHT                      194007 non-null  int64
 11  CUSTOMER_ID_NB_TX_1DAY_WINDOW        194007 non-null  float64
 12  CUSTOMER_ID_AVG_AMOUNT_1DAY_WINDOW   194007 non-null  float64
 13  CUSTOMER_ID_NB_TX_7DAY_WINDOW        194007 non-null  float64
 14  CUSTOMER_ID_AVG_AMOUNT_7DAY_WINDOW   194007 non-null  float64
 15  CUSTOMER_ID_NB_TX_30DAY_WINDOW       194007 non-null  float64
 16  CUSTOMER_ID_AVG_AMOUNT_30DAY_WINDOW  194007 non-null  float64
 17  TERMINAL_ID_NB_TX_1DAY_WINDOW        194007 non-null  float64
 18  TERMINAL_ID_RISK_1DAY_WINDOW         194007 non-null  float64
 19  TERMINAL_ID_NB_TX_7DAY_WINDOW        194007 non-null  float64
 20  TERMINAL_ID_RISK_7DAY_WINDOW         194007 non-null  float64
 21  TERMINAL_ID_NB_TX_30DAY_WINDOW       194007 non-null  float64
 22  TERMINAL_ID_RISK_30DAY_WINDOW        194007 non-null  float64
dtypes: datetime64[ns](1), float64(13), int64(9)
memory usage: 35.5 MB

In [ ]:
# cat_features = ['TRANSACTION_ID', 'CUSTOMER_ID', 'TERMINAL_ID', 'TX_FRAUD_SCENARIO']

# train_df[cat_features] = train_df[cat_features].astype("category")
# test_df[cat_features] = test_df[cat_features].astype("category")

In [ ]:
# train_df.info()

In [ ]:
# test_df.info()

In [ ]:
# train_df.tail()

In [ ]:
# test_df.head()

In [ ]:
# DIR_OUTPUT = "../data/processed/train_test_data/"
# filename_output = '.feather'

# if not os.path.exists(DIR_OUTPUT):
#     os.makedirs(DIR_OUTPUT)

# train_df.to_feather(DIR_OUTPUT+'train_data'+filename_output)
# test_df.to_feather(DIR_OUTPUT+'test_data'+filename_output)

In [ ]:
DIR_OUTPUT = "../frontend/"
filename_output = '.feather'

if not os.path.exists(DIR_OUTPUT):
    os.makedirs(DIR_OUTPUT)

sample_df.to_feather(DIR_OUTPUT+'sample_data'+filename_output)