In [1]:
%run -i "utils.py"

DIR_INPUT='../data/processed/simulated-data-transformed/'

TRAIN_BEGIN_DATE = "2023-05-01"
TRAIN_END_DATE = "2023-11-31"

TEST_BEGIN_DATE = "2023-12-01"
TEST_END_DATE = "2023-12-31"

print("Loading files")
%time train_df = read_from_files(DIR_INPUT, TRAIN_BEGIN_DATE, TRAIN_END_DATE)
%time test_df = read_from_files(DIR_INPUT, TEST_BEGIN_DATE, TEST_END_DATE)

print("{0} transactions loaded as training data, containing {1} fraudulent transactions".format(len(train_df),train_df.TX_FRAUD.sum()))
print("{0} transactions loaded as testing data, containing {1} fraudulent transactions".format(len(test_df),test_df.TX_FRAUD.sum()))

Loading files
CPU times: total: 6.23 s
Wall time: 32.8 s
CPU times: total: 750 ms
Wall time: 2.18 s
20745556 transactions loaded as training data, containing 29051 fraudulent transactions
3004406 transactions loaded as testing data, containing 4186 fraudulent transactions

In [2]:
# cat_features = ['TRANSACTION_ID', 'CUSTOMER_ID', 'TERMINAL_ID', 'TX_FRAUD_SCENARIO']

# train_df[cat_features] = train_df[cat_features].astype("category")
# test_df[cat_features] = test_df[cat_features].astype("category")

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20745556 entries, 0 to 20745555
Data columns (total 23 columns):
 #   Column                               Dtype
---  ------                               -----
 0   TRANSACTION_ID                       int64
 1   TX_DATETIME                          datetime64[ns]
 2   CUSTOMER_ID                          int64
 3   TERMINAL_ID                          int64
 4   TX_AMOUNT                            float64
 5   TX_TIME_SECONDS                      int64
 6   TX_TIME_DAYS                         int64
 7   TX_FRAUD                             int64
 8   TX_FRAUD_SCENARIO                    int64
 9   TX_DURING_WEEKEND                    int64
 10  TX_DURING_NIGHT                      int64
 11  CUSTOMER_ID_NB_TX_1DAY_WINDOW        float64
 12  CUSTOMER_ID_AVG_AMOUNT_1DAY_WINDOW   float64
 13  CUSTOMER_ID_NB_TX_7DAY_WINDOW        float64
 14  CUSTOMER_ID_AVG_AMOUNT_7DAY_WINDOW   float64
 15  CUSTOMER_ID_NB_TX_30DAY_WINDOW       float64
 16  CUSTOMER_ID_AVG_AMOUNT_30DAY_WINDOW  float64
 17  TERMINAL_ID_NB_TX_1DAY_WINDOW        float64
 18  TERMINAL_ID_RISK_1DAY_WINDOW         float64
 19  TERMINAL_ID_NB_TX_7DAY_WINDOW        float64
 20  TERMINAL_ID_RISK_7DAY_WINDOW         float64
 21  TERMINAL_ID_NB_TX_30DAY_WINDOW       float64
 22  TERMINAL_ID_RISK_30DAY_WINDOW        float64
dtypes: datetime64[ns](1), float64(13), int64(9)
memory usage: 3.6 GB

In [4]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3004406 entries, 0 to 3004405
Data columns (total 23 columns):
 #   Column                               Dtype
---  ------                               -----
 0   TRANSACTION_ID                       int64
 1   TX_DATETIME                          datetime64[ns]
 2   CUSTOMER_ID                          int64
 3   TERMINAL_ID                          int64
 4   TX_AMOUNT                            float64
 5   TX_TIME_SECONDS                      int64
 6   TX_TIME_DAYS                         int64
 7   TX_FRAUD                             int64
 8   TX_FRAUD_SCENARIO                    int64
 9   TX_DURING_WEEKEND                    int64
 10  TX_DURING_NIGHT                      int64
 11  CUSTOMER_ID_NB_TX_1DAY_WINDOW        float64
 12  CUSTOMER_ID_AVG_AMOUNT_1DAY_WINDOW   float64
 13  CUSTOMER_ID_NB_TX_7DAY_WINDOW        float64
 14  CUSTOMER_ID_AVG_AMOUNT_7DAY_WINDOW   float64
 15  CUSTOMER_ID_NB_TX_30DAY_WINDOW       float64
 16  CUSTOMER_ID_AVG_AMOUNT_30DAY_WINDOW  float64
 17  TERMINAL_ID_NB_TX_1DAY_WINDOW        float64
 18  TERMINAL_ID_RISK_1DAY_WINDOW         float64
 19  TERMINAL_ID_NB_TX_7DAY_WINDOW        float64
 20  TERMINAL_ID_RISK_7DAY_WINDOW         float64
 21  TERMINAL_ID_NB_TX_30DAY_WINDOW       float64
 22  TERMINAL_ID_RISK_30DAY_WINDOW        float64
dtypes: datetime64[ns](1), float64(13), int64(9)
memory usage: 527.2 MB

In [5]:
train_df.tail()

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO,TX_DURING_WEEKEND,...,CUSTOMER_ID_NB_TX_7DAY_WINDOW,CUSTOMER_ID_AVG_AMOUNT_7DAY_WINDOW,CUSTOMER_ID_NB_TX_30DAY_WINDOW,CUSTOMER_ID_AVG_AMOUNT_30DAY_WINDOW,TERMINAL_ID_NB_TX_1DAY_WINDOW,TERMINAL_ID_RISK_1DAY_WINDOW,TERMINAL_ID_NB_TX_7DAY_WINDOW,TERMINAL_ID_RISK_7DAY_WINDOW,TERMINAL_ID_NB_TX_30DAY_WINDOW,TERMINAL_ID_RISK_30DAY_WINDOW
20745551,32368590,2023-11-30 23:59:40,29231,3692,90.66,28857580,333,0,0,0,...,25.0,66.297600,75.0,75.545600,2.0,0.0,6.0,0.0,33.0,0.0
20745552,32368591,2023-11-30 23:59:53,19716,95348,50.53,28857593,333,0,0,0,...,30.0,55.185333,93.0,58.029247,3.0,0.0,7.0,0.0,34.0,0.0
20745553,32368592,2023-11-30 23:59:55,31908,91535,10.29,28857595,333,0,0,0,...,4.0,17.320000,22.0,17.874545,2.0,0.0,10.0,0.0,28.0,0.0
20745554,32368593,2023-11-30 23:59:56,6246,28469,189.89,28857596,333,0,0,0,...,11.0,95.443636,49.0,83.943061,2.0,0.0,8.0,0.0,38.0,0.0
20745555,32368594,2023-11-30 23:59:56,19668,25994,12.85,28857596,333,0,0,0,...,10.0,20.885000,49.0,23.563061,0.0,0.0,9.0,0.0,32.0,0.0

In [6]:
test_df.head()

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO,TX_DURING_WEEKEND,...,CUSTOMER_ID_NB_TX_7DAY_WINDOW,CUSTOMER_ID_AVG_AMOUNT_7DAY_WINDOW,CUSTOMER_ID_NB_TX_30DAY_WINDOW,CUSTOMER_ID_AVG_AMOUNT_30DAY_WINDOW,TERMINAL_ID_NB_TX_1DAY_WINDOW,TERMINAL_ID_RISK_1DAY_WINDOW,TERMINAL_ID_NB_TX_7DAY_WINDOW,TERMINAL_ID_RISK_7DAY_WINDOW,TERMINAL_ID_NB_TX_30DAY_WINDOW,TERMINAL_ID_RISK_30DAY_WINDOW
0,32368595,2023-12-01 00:00:04,37772,89206,24.40,28857604,334,0,0,0,...,33.0,27.442727,109.0,28.901101,2.0,0.0,11.0,0.0,34.0,0.0
1,32368596,2023-12-01 00:00:04,33209,44889,34.85,28857604,334,0,0,0,...,35.0,21.057143,119.0,20.572605,1.0,0.0,5.0,0.0,30.0,0.0
2,32368597,2023-12-01 00:00:18,39809,20563,95.29,28857618,334,0,0,0,...,5.0,97.028000,14.0,86.502143,1.0,0.0,6.0,0.0,33.0,0.0
3,32368598,2023-12-01 00:00:18,23903,32492,55.69,28857618,334,0,0,0,...,20.0,47.069500,91.0,50.255934,3.0,0.0,13.0,0.0,40.0,0.0
4,32368599,2023-12-01 00:00:22,24442,11,46.76,28857622,334,0,0,0,...,33.0,51.207273,94.0,49.515319,2.0,0.0,7.0,0.0,30.0,0.0

In [7]:
DIR_OUTPUT = "../data/processed/train_test_data/"
filename_output = '.feather'

if not os.path.exists(DIR_OUTPUT):
    os.makedirs(DIR_OUTPUT)

train_df.to_feather(DIR_OUTPUT+'train_data'+filename_output)
test_df.to_feather(DIR_OUTPUT+'test_data'+filename_output)